.sort{
 .sort__content{
   &--note{
     background: #F2F3F5;
     border-radius: 6px;
     .container{
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 25px;
       padding: 18px 14px 11px 22px;
       p{
         margin: 0;
       }
     }
   }
 }
}