@media (max-width: $viewport-tablet) and (min-width:$viewport-m+1px) {
  .intro {
    padding: 0 28px;
    // position: relative;
    .intro__content {
      // font-style: normal;
      // font-weight: 400;
      // font-size: 16px;
      // line-height: 24px;
      // color: #111111;
      // position: relative;
      height: 96px; //
      .intro__coating {
        bottom: 0px;
        width: 100%;
        // height: 22px;
        // background: #f2f3f5;
        filter: blur(6px);
        // display: none;
      }
    }
    .full-content {
      height: auto;
    }
    .intro__showmore {
      // position: absolute;
      top: 90px;
      left: 139px;
      // display: flex;
      // align-items: center;
      // cursor: pointer;
      // color: #1e60e1;
      // background-color: blue;
      // p {
      //   margin: 0;
      //   font-style: normal;
      //   font-weight: 400;
      //   font-size: 16px;
      //   line-height: 20px;
      //   width: 87px;
      //   height: 20px;
      //   padding: 10px;
      // }
      // img {
      //   width: 10px;
      //   height: 5.84px;
      // }
    }
    // .show-more:hover{
    //   color: red;
    // }
    .appear {
      top: 330px;
      // padding-bottom: 220px;
    }
    .intro__active {
      // background-color: red;
      // padding-top: 49px;
      // display: flex;
      // gap: 8px;
      // align-items: center;
      // position: relative;
      flex-wrap: wrap;
      justify-content: start;
      margin-top: 35px;
      padding: 0 40vw 0 0;
      .intro__active--option {
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 12px;
        height: 28px;
        background: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 6px;
        padding-left: 12px;
        padding-right: 8px;
      }
      .intro__active--casino {
        padding-left: 0;
      }
      .intro__active--reset {
        width: 112px;
        height: 28px;
        background-color: white;
        border: 1px solid #1e60e1;
        border-radius: 6px;
        margin-left: 4px;
        color: #1e60e1;
        padding: 4px 14px;
        box-sizing: border-box;
        p {
          margin: 0;
          width: 90px;
          height: 19px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
        }
      }
      .intro__active--setting {
        display: flex;
        align-items: center;
        width: 107px;
        height: 28px;
        border-radius: 6px;
        position: absolute;
        top: 16px;
        right: 0;
        padding: 4px 12px 5px 12px;
        box-sizing: border-box;
        &-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #1e60e1;
          opacity: 0.08;
          border-radius: 6px;
        }
        p {
          margin-left: 5px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #1e60e1;
        }
      }
    }
    .intro__showing {
      //   // background-color: red;
      //   padding-top: 21px;
      //   display: flex;
      //   align-items: center;
      //   justify-content: space-between;
      //   p {
      //     margin: 0;
      //     padding: 16px 0 15px 0;
      //     font-style: normal;
      //     font-weight: 400;
      //     font-size: 16px;
      //     line-height: 19px;

      //     /* #111111 */

      //     color: #111111;
      //   }

      p{
        width: 482px
      }
      .intro__showing--sort {
        width: 169px;
        height: 32px;
        padding: 0 13px;
        // background: #ffffff;
        // border: 1px solid #dddddd;
        // border-radius: 6px;
        // display: flex;
        align-items: center;
        // padding: 7px 13px 6px 13px;
        // box-sizing: border-box;
        // font-style: normal;
        // font-weight: 700;
        // font-size: 15px;
        // line-height: 19px;
        // color: #111111;
        //display: none; //
        P{
          padding: 0;
        }
      }
    }
  }
}
