@media (max-width: $viewport-tablet) and (min-width:$viewport-m+1px) {
  .sidebar {
    z-index: 2;
    width: 40vw;
    height: 100vh;
    overflow-x: scroll;
    position: fixed;
    &__logo{
      width: 40vw;
      margin: 0 0 0 -16px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        margin: 0;
        width: 30vw;
      }
    }
  }
  .coating{
    position: absolute;
    right: 0;
    height: 100%;
    width: 60vw;
    background-color: black;
    //height: 200vw;
    z-index: 3;
    opacity: 0.3;
  }
}
