.bookie {
  padding: 0 54px;
  .container {
    .bookie__container {
      .bookie__box {
        position: relative;
        margin-top: 16px;
        display: flex;
        background-color: white;
        border: 1px solid #e9ebee;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        .box__left {
          padding: 24px;
          background: #161735;
          border: 1px solid #e9ebee;
          border-radius: 6px 0 0 6px;
        }
        .box__right {
          width: 100%;
          //   background-color: green;
          .box__right--header {
            height: 64px;
            width: 100%;
            // background-color: red;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ffffff;
            border: 1px solid #e9ebee;
            border-radius: 0 0 6px 0;
            // transform: matrix(1, 0, 0, -1, 0, 0);
            .title {
              display: flex;
              padding-left: 24px;
              p {
                font-family: "Oswald";
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 41px;
                text-transform: uppercase;
                color: #111111;
                display: inline;
              }
              .title__australia {
                display: none;
              }
              .title__stt {
                color: #1e60e1;
              }
            }
            .infor {
              display: flex;
              align-items: center;
              justify-content: space-around;
              gap: 15px;
              padding-right: 25px;
              .infor__featured,
              .infor__ribbon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 106px;
                height: 28px;
                gap: 9.87px;
                background: #f7bf31;
                border-radius: 100px;
                padding: 5px 12px;
                box-sizing: border-box;
                p {
                  margin: 0;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 17px;
                  color: white;
                }
              }
              .infor__ribbon {
                width: 108px;
                background: #76c344;
              }
              .infor__perfect {
                // background-color: red;
                display: flex;
                align-items: center;
                gap: 3px;
                font-family: "Lato";
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                .title {
                  padding: 0;
                  color: #76c344;
                }
              }
            }
          }
          .box__right--body {
            .container {
              .box__container {
                // background-color: red;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #111111;
                padding: 16px 24px 0 24px;
                .box__title {
                  .box__item {
                    display: flex;
                    align-items: center;

                    gap: 15px;
                    .title__item--chat {
                      padding: 0 5px 0 5px;
                    }
                    p {
                      margin: 0;
                    }
                  }
                }
                .box__infor {
                  ul {
                    margin: 0;
                  }
                  height: 128px;
                }
                .box__gift {
                  position: relative;
                  width: 164px;
                  height: 149px;
                  background: #fefafb;
                  border: 5px solid #e8317e;
                  box-shadow: 0px 10px 12px rgba(232, 49, 126, 0.08);
                  border-radius: 12px;
                  box-sizing: border-box;
                  padding: 32px 20px 51px 21px;
                  .box__gift--circle {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    top: 12px;
                    left: -20px;
                    background: #e8317e;
                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                  .box__gift--rectangle {
                    position: absolute;
                    top: 0;
                    right: -5px;
                    width: 80px;
                    height: 26px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #ffffff;
                    background: #e8317e;
                    border-radius: 0px 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                  .box__gift--content {
                    width: 123px;
                    height: 66px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    color: #e8317e;
                    .gift-content-hidden{
                      display: none;
                    }
                  }
                  .box__gift--tvc {
                    width: 75px;
                    height: 17px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #1e60e1;
                    margin: 0 auto;
                    padding-top: 18px;
                  }
                }
              }
            }
          }
          .box__right--footer {
            padding: 3px 24px 24px 24px;
            display: flex;
            justify-content: start;
            gap: 12px;
            button {
              background: rgba(#1e60e1, 0.08);
              border: 1px solid #e9ebee;
              border-radius: 6px;
              height: 44px;
              display: flex;
              align-items: center;
              gap: 8.59px;
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 19px;
              color: #1e60e1;
            }
            .visitCasino {
              padding: 13px 56px 12px 55px;
            }
            .review {
              padding: 13px 49px 12px 49px;
            }
            .moreDetails {
              padding: 13px 17px 12px 17px;
              img {
                transform: rotate(0);
                transition: transform 0s;
              }
            }
            .moreDetails-show {
              img {
                transform: rotate(180deg);
              }
            }
            .selected {
              color: white;
              background-color: #1e60e1;
            }
          }
          .box__right--hidden {
            height: 251px;

            .container {
              padding: 24px 85px 24px 24px;
              display: flex;
              justify-content: space-between;
              border: 1px solid #e9ebee;
              border-radius: 6px 6px 0px 0px;
              .box__item {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #111111;
                img {
                  width: 24px;
                  height: 24px;
                }
                p {
                  padding-left: 12px;
                  display: inline;
                }
                li {
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 28px;
                }
              }
            }
          }
        }
      }
      .bookie__unibet,
      .bookie__dafabet,
      .bookie__happi {
        .box__left {
          img {
            border-radius: 10px;
          }
        }
        .box__right {
          .box__right--body {
            .container {
              .box__container {
                .box__gift {
                  border: 5px solid #f6bf31;
                  .box__gift--circle {
                    background-color: #f6bf31;
                  }
                  .box__gift--rectangle {
                    background-color: #f6bf31;
                  }
                  .box__gift--content {
                    color: #0c1245;
                  }
                }
              }
            }
          }
        }
      }
      .bookie__happi {
        .box__right {
          .box__right--body {
            .container {
              .box__container {
                .box__gift {
                  height: 191px;
                  .box__gift--content {
                    height: 110px;
                  }
                  //.box__gift--tvc{
                  //  background-color: red;
                  //}
                }
              }
            }
          }
        }
      }
      .bookie__unibet {
        .box__left {
          background-color: #147b44;
        }
      }
      .bookie__dafabet {
        .box__left {
          background-color: #ae0001;
        }
      }
      .bookie__happi {
        .box__left {
          background-color: #2a385b;
        }
      }
    }
  }
}
