@media (max-width: $viewport-tablet) and (min-width:$viewport-m+1px) {
  .infor {
    .container {
      padding: 20px 0 0 0;
      position: relative;
      .infor__box {
        flex-direction: column-reverse;
        &--left {
          padding: 0 28px;
          section{
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
            padding: 12px;
            margin: 0;
            .choose__title,
            .criteria__title,
            .writing__title,
            .sort__title,
            .find__title,
            .filters__title,
            .faq__title{
              display: flex;
              align-items: center;
              //justify-content: center;
              //gap: 0px;
              padding: 0;
              p{
                margin: 0;
              }
            }
          }
          #choose-img,
          #criteria-img,
          #writing-img,
          #sort-img,
          #find-img,
          #filters-img,
          #faq-img {
            display: none;
          }
        }
        &--right {
          //width: 258px;
          //height: 192px;
          //margin: 16px 16px 0 0;
          //background: #f2f3f5;
          //border-radius: 6px;
          //position: sticky;
          //position: -webkit-sticky;
          //top: 0;
          display: block;
          width: 712px;
          //margin: 34px auto;
          margin: 0 auto;
          margin-top: 34px;
          //top: 34px;
          //margin-bottom:34px;
          position: relative;
          //&-container {
          //  padding: 15px 22px 17px 14px;
          //  p {
          //    margin: 0;
          //    margin-bottom: 16px;
          //    font-weight: 700;
          //    font-size: 16px;
          //    color: #111111;
          //  }
          //  .selected {
          //    color: #1e60e1;
          //    border-left: 3px solid #1e60e1;
          //    padding-left: 14px;
          //    margin-left: -14px;
          //  }
          //}
        }
      }
    }
  }
}
